# Prerequisites
*.d
*.vscode

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

s

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


#### VS PROJECTS
*.vcxproj.user
*.vcxproj.filters
# Visual Studio specific files
.vs/
*.user
*.suo
*.vssscc
*.cache
*.pdb
*.obj
*.ilk
*.aps
*.ncb
*.sdf
*.opendb
*.tlog
*.log


# Build and output directories
bin/
Debug/
Release/
x64/
x86/

# NuGet packages
*.nupkg
packages/
project.lock.json
project.assets.json

# Rider IDE (if used)
.idea/
*.sln.iml
